/**
 * Colour palette for the app.
 */

$darkGrey: #222;
$lightGrey: #ccc;
$darkBlue: #036;
$logoTeal: #008b8e;
$logoRed: #600707;

$mainTextForeground: $darkGrey;
$mainLinkForeground: $logoTeal;

$headerBackground: $darkBlue;
$headerForeground: $lightGrey;
